In [ ]:
# Homework 9주 Joo Jaekil (2022271314)

In [40]:
#1~5 정수 만들기
number_list =[]
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

number_list

[1, 2, 3, 4, 5]

In [42]:
number_list=[]
for number in range(1,6):
    number_list.append(number)

number_list

[1, 2, 3, 4, 5]

In [44]:
numberlist = list(range(1,6))
number_list

[1, 2, 3, 4, 5]

In [49]:
number_list=[number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [50]:
number_list =[number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

In [52]:
A_list = [number for number in range(1,6) if number%2==0]
A_list

[2, 4]

In [55]:
A_list=[]
for number in range(1,6):
    if number%2 ==1:
        A_list.append(number)
A_list

[1, 3, 5]

In [31]:
sentence =['I', 'Love', 'Python', 'Sooooo', 'MUCH !!']
word = [word.lower() for word in sentence]
word

['i', 'love', 'python', 'sooooo', 'much !!']

In [34]:
for word in sentence: 
    print ([word])

['I']
['Love']
['Python']
['Sooooo']
['MUCH !!']

In [37]:
[word for word in sentence if len(sentence)>3]
word

'MUCH !!'

In [ ]:
word

In [ ]:
print(list (range(10)))
[(x-1, x+2)for x in range(10)]

In [3]:
rows= range(1,4)
cols=range(1,3)
for row in rows:
    for col in cols:
        print(row,col)

1 1
1 2
2 1
2 2
3 1
3 2

In [4]:
rows= range(1,4)
cols=range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [8]:
[(i,j) for i in range(5) for j in range(3)]

[(0, 0),
 (0, 1),
 (0, 2),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2)]

In [11]:
[(k,j) for k in range(5) for j in range(k)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [15]:
#{key_func(vars):val_func(vars) for vars in iterable}
word ='letter'
letter_counts={letter:word.count(letter) for letter in word}
print(letter_counts)

{'l': 1, 'e': 2, 't': 2, 'r': 1}

In [16]:
set('apple')

{'a', 'e', 'l', 'p'}

In [17]:
word='letters'
letter_counts={letter:word.count(letter) for letter in set(word)}

In [18]:
letter_counts

{'s': 1, 't': 2, 'l': 1, 'r': 1, 'e': 2}

In [3]:
a_set={number for number in range(1,6) if number%3 ==1}
a_set

{1, 4}

In [5]:
task={word for word in hamlet if is_palindrome(word.lower())}

NameError: name 'hamlet' is not defined

In [6]:
def sum(a,b):
    return a+b

sum(1,23)

24

In [7]:
sum(13, 23.5)

36.5

In [9]:
sum('love ', 'python')

'love python'

In [10]:
days=['Monday','Tuesday','Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee','tea','beer']
desserts =['tiramisu', 'ice cream', 'pie', 'pudding']

for day,fruit, drink, dessert in zip (days,fruits,drinks, desserts):
    print(day,"drink", drink,'-eat', fruit, '-enjoy', dessert)

Monday drink coffee -eat banana -enjoy tiramisu
Tuesday drink tea -eat orange -enjoy ice cream
Wednesday drink beer -eat peach -enjoy pie

In [11]:
english='Monday','Tuesday','Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'
list (zip(english, french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [12]:
dict(zip(english, french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [13]:
# wine, entree, dessert를 받아서 딕셔너리로 변환
def menu(wine, entree, dessert):
    return {'wine':wine, 'entree':entree, 'dessert':dessert}

In [14]:
menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [15]:
def menu(wine, entree, dessert):
    return{'wine': wine, 'entree':entree, 'dessert': dessert}

In [16]:
menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [17]:
menu(entree='beef', dessert='bagel', wine='bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [4]:
# 함수 정의 할 때 변수를 지정 때부터 specific 내용을 집어넣으면, 입력변수 가 없을 때 사용됨
def menu(price, wine = 'chardonnay', entree= 'chicken', dessert='pudding'):
    return {'price': price, 'wine': wine, 'entree': entree, 'dessert':dessert}

In [5]:
menu('chardonnay', 'chicken')

{'price': 'chardonnay',
 'wine': 'chicken',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [6]:
menu(100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [7]:
menu(price=100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [8]:
menu(price=120, entree='beef')

{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}

In [9]:
menu(dessert='bagel', price =110)

{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}

In [10]:
menu('eighty', 'saint-pierre', 'fish')

{'price': 'eighty',
 'wine': 'saint-pierre',
 'entree': 'fish',
 'dessert': 'pudding'}

In [11]:
menu('hundred', wine = "saint-pierre")

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [17]:
def menu(price, wine = 'chardonnay', entree= 'chicken', dessert='pudding'):
    return {'price': price, 'wine': wine, 'entree': entree, 'dessert':dessert}

# 아무것도 안집어 넣으면 문제가 발생
menu()

TypeError: menu() missing 1 required positional argument: 'price'

In [28]:
menu(100, 'sait-pierre')

{'price': 100,
 'wine': 'sait-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [29]:
# 같은 내용으로 2가지의 정보가 들어가면 워닝 !!
menu(100, price =120)

TypeError: menu() got multiple values for argument 'price'

In [23]:
def echo(anything):
    'echo returns its input argument'
    return anything

In [37]:
echo("i like hot dog")

'i like hot dog'

In [38]:
echo('Wesit Du ob es richtig ist?')

'Wesit Du ob es richtig ist?'

In [39]:
#  help(함수) 를 써넣으면 함수에 정의된 내용을 프린트 해 준다
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [25]:
def print_if_true(thing, check):
    """
    "prints the frist argument if a second argumet is ture"
    the operation is:
        1. check whether the * second* argument is True
        2. if it is, print the 'first' argument """
    if check:
        print (thing)

In [35]:
print_if_true("hoho",False)

In [36]:
print_if_true("hoho",True)

hoho

In [27]:
print(1)

1

In [28]:
from mod1 import*

덧샘이 불가합니다.
None
5
20.4

In [30]:
from mod1 import sum
sum(2,3)

5

In [31]:
safe_sum(3,2.5)

덧샘이 불가합니다.

In [32]:
safe_sum(2,8)

10