In [1]:
# 2022271314 주재길 박사과정 숙제 #1
# Excercise #1
print ("hello , Python !! ")
print ( "my name is jaekil Joo")

hello , Python !!
my name is jaekil Joo

In [2]:
import sys
print (sys.version)

3.9.13 (tags/v3.9.13:6de2ca5, May 17 2022, 16:36:42) [MSC v.1929 64 bit (AMD64)]

In [3]:
#python doesn't excute the order coding, if there is # mark
#print ("나는 2022 학번 박사과정 주재길 이야")
print ("나는 2022 학번 박사과정 주재길 이야")

나는 2022 학번 박사과정 주재길 이야

In [5]:
frint ("my dog's name is kongi")
print(sys,version)

NameError: name 'frint' is not defined

In [6]:
print(sys,version)
# sys뒤에 .이 오지 않고 , 가 와서 version이 내장함수가 아닌 변수로 이해되어 에러 나옴

NameError: name 'version' is not defined

In [7]:
print("hello, World")

hello, World

In [8]:
print("hello, world") #print the tranditional hello world

hello, world

In [11]:
# Exercise #2
#integer
print (11)
type(11)

11

int

In [13]:
# Float
print (3.15)
print (type(3.15))

3.15
<class 'float'>

In [14]:
#string
print("I am on the Business Trip in Atlanta. So, I am tired due to time shift")
type("I am on the Business Trip in Atlanta. So, I am tired due to time shift")

I am on the Business Trip in Atlanta. So, I am tired due to time shift

str

In [15]:
type("I am so happy")

str

In [16]:
type ("I am so Happy")
type(3.14)
# type 및 명령어 실행 시 제일 마지막 내용 만 처리 함 !!

float

In [18]:
type(12.0)

float

In [19]:
type(-2)

int

In [20]:
type(4)

int

In [21]:
type(0)

int

In [23]:
type(3.0)

float

In [24]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [25]:
float(3)

3.0

In [27]:
int(3.5)
print ("integer:", int(3.5))

integer: 3

In [31]:
float("3.6")

3.6

In [32]:
int("3.6")

ValueError: invalid literal for int() with base 10: '3.6'

In [33]:
int('1.0')

ValueError: invalid literal for int() with base 10: '1.0'

In [35]:
print(int("3", 0))

3

In [36]:
type(True)

bool

In [40]:
float(True)

1.0

In [44]:
str(1)
type(str(1))

str

In [45]:
int(True)

1

In [46]:
float(True)

1.0

In [51]:
print (7/2, 7//2)

3.5 3

In [72]:
# Exercise #3
6//2

3

In [53]:
#Exerciese 4
# Let's write an expression that calculates how many hours there are in 160 minutes:
print("hours:", 160//60)

hours: 2

In [55]:
43 + 60 + 16 + 41

160

In [56]:
30-60

-30

In [54]:
#Exercise 5
#  What is the value of x where x = 3 + 2 * 2
print ("x=", 3+2*2)

x= 7

In [57]:
5*5
32/3

10.666666666666666

In [58]:
32//3

10

In [59]:
30+20*3

90

In [60]:
(30+20)*3

150

In [61]:
x=30+2*3+150+2

In [62]:
y=x+20+8

In [63]:
print(y)

216

In [64]:
y/x

1.148936170212766

In [65]:
Total_min = 30+20+40

In [68]:
Total_hours = Total_min/60
Total_hours

1.5

In [69]:
type(Total_hours )

float

In [70]:
#Exercise 5
x=3+2*2
x

7

In [71]:
z=x+y
print(z)

223