In [1]:
# Homework 3-2 Joo Jaekil 2022271314
# list 는 [ ]안에 내용을 집어넣는 것
L = ["Michael Jackson", 10.1, 1982]
print(L)

['Michael Jackson', 10.1, 1982]

In [2]:
type(L[2])

int

In [3]:
type(L[0])

str

In [4]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [8]:
L1 = ["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]
print("before changed L1 =", L1)
print('after change L1[0] with Janet Jackson', L1[0].replace("Michael Jackson", 'Janet'))

before changed L1 = ['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]
after change L1[0] with Janet Jackson Janet

In [9]:
Tuple1=("Michael Jackson", 10.1, 1982)
Tuple1
Tuple1[0]="Janet"

TypeError: 'tuple' object does not support item assignment

In [23]:
# tuple은 문장을 바꿔치기 안되지만 List 는 바꿔치기 가능
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L
L[2:4]
L.extend(["rabbit", 103, ["king", 14.5]]) # extend 는 ()안에 [] 를 사용한다. 즉 ([]) 형태로 씀 !
print(L)
print(L[2:4])
print(L[7][1])

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'rabbit', 103, ['king', 14.5]]
[1982, 'MJ']
14.5

In [25]:
A = ['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]
After change: [10.2, 'pop', 10, ['a', 'b']]

In [27]:
# split 을 쓰면 스페이스로 분간하여 분리
what='hard rock'.split()
print(what)
type(what)
what[1]

['hard', 'rock']

'rock'

In [30]:
# 문장에 split()을 쓰면 스페이스로 분리, split(",") 라고 쓰면 ' 로 분리
Split_string_comma='A,B,C,D'.split(',')
print(Split_string_comma)
type(Split_string_comma)
Split_string_comma[0]

['A', 'B', 'C', 'D']

'A'

In [31]:
A = ["hard rock", 10, 1.2]
A

['hard rock', 10, 1.2]

In [33]:
A[0]="rabbit"
print(A)

['rabbit', 10, 1.2]

In [28]:
type(what)

list

In [35]:
print (A)
B=A
print (B)

['rabbit', 10, 1.2]
['rabbit', 10, 1.2]

In [36]:
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: rabbit
B[0]: banana

In [37]:
A = ["hard rock", 10, 1.2]
B = A[:] #A[:]
print(A)
print(B)
A[0] ='R&B'
print(A)
print(B)

['hard rock', 10, 1.2]
['hard rock', 10, 1.2]
['R&B', 10, 1.2]
['hard rock', 10, 1.2]

In [1]:
# Homework 3-2 Joo Jaekil 2022271314
#1) Create a list a_list, with the following elements 1, hello, [1,2,3]and True
list = [1, 'hello',[1,2,3], True]
print("create a list : ", list)

create a list :  [1, 'hello', [1, 2, 3], True]

In [9]:
#2) Find the value stored at index 1 of a_list
print('index #1 = ', list[1])

index #1 =  hello

In [6]:
#3) Retrieve the elements stored at index 1, 2 and 3 of a_list
print('index 1~3=', (list[1:]))

index 1~3= ['hello', [1, 2, 3], True]

In [38]:
#4) Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']
list_A = [1,'a']
list_B = [2,1,'d']
list_C=list_A+list_B
list_C

[1, 'a', 2, 1, 'd']