In [2]:
# 2022271314 주재길 박사과정 숙제 #1
print ("hello python !!")
print ('내 이름은 주재길 입니다. ')

hello python !!
내 이름은 주재길 입니다.

In [1]:
# 2022271314 주재길 박사과정 숙제 #1 Exercise 1 (Types)
# Excercise #1
print ("hello , World !! ")
print ( "my name is jaekil Joo")

hello , World !!
my name is jaekil Joo

In [5]:
# 파이썬 버젼을 체크 
import sys
print(sys.version)

3.9.13 (tags/v3.9.13:6de2ca5, May 17 2022, 16:36:42) [MSC v.1929 64 bit (AMD64)]

In [7]:
print ("let's start python !!")

let's start python !!

In [8]:
# 명령어를 잘못 쓰면 에러나옴
frint("what's wrong ?")

NameError: name 'frint' is not defined

In [9]:
print("what's wrong ?")

what's wrong ?

In [11]:
# integer, Float, string
# integer는 정수, Float는 실수, string 은 문자
# type 이라는 명령어는 주어진 변수가 어떤 타입인지 알려줌
type(12)

int

In [12]:
type(15/2)

float

In [13]:
type('baby')

str

In [14]:
type(3.0)

float

In [10]:
# 2022271314 주재길 박사과정 숙제 #1 Exercise 1 (Types)
# Excercise #1
print ("hello , World !! ")
print ( "my name is jaekil Joo")

hello , World !!
my name is jaekil Joo

In [2]:
# Exercise #2
# In the code cell below, use the type() function to check the object type of 12.0
print('type=', type(12.0))

type= <class 'float'>

In [15]:
type(-1)

int

In [16]:
type(4)

int

In [17]:
type(0)

int

In [18]:
type(1.0)

float

In [19]:
type(0.5)

float

In [20]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [21]:
# 상황에 맞추어 type을 변화 시키기
type(3)

int

In [25]:
print ('original type(3)', type(3))
print('converted type float(3)=', type(float(3)))

original type(3) <class 'int'>
converted type float(3)= <class 'float'>

In [26]:
int(1.1)

1

In [28]:
int('1')

1

In [29]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [31]:
# 인티저로 변환시킬 수 있는 숫자만 가능 1.2는 기본 적으로 float이므로 인티저로 변화가 안됨
int('1.2')

ValueError: invalid literal for int() with base 10: '1.2'

In [32]:
float('1.2')

1.2

In [34]:
str(1.2)

'1.2'

In [35]:
# Boolean Data type : True = 1, False =0
type(True)

bool

In [39]:
type(False)

bool

In [42]:
print("True를 숫자로 변환하면 =", int(True))

True를 숫자로 변환하면 = 1

In [41]:
print("False를 숫자로 변환하면 =", int(False))

False를 숫자로 변환하면 = 0

In [45]:
bool(1)

True

In [46]:
bool(0)

False

In [47]:
float(True)

1.0

In [48]:
int(True)

1

In [50]:
# Exercise #3
# What is the data type of the result of: 6 / 2 ?
print("6/2 =", 6/2, type(6/2))
# What is the data type of the result of: 6 // 2 ?
print('6//2 = ',6//2, type(6//2))

6/2 = 3.0 <class 'float'>
6//2 =  3 <class 'int'>

In [51]:
# 더하기 연산
43 + 60 + 16 + 41

160

In [52]:
# 빼기 연산
50 - 60

-10

In [53]:
# 곱하기 연산
30*2

60

In [55]:
# 나누기 연산은 2가지 종류: 실제 계산과 몫을 만드는 게산
# 실제 계산은 / 로 하면 되고 몫을 구하기 위해서는 // 로 하면 됨
print ("7/3 =", 7/3)
print ("7/3의 몫은 =", 7//3)

7/3 = 2.3333333333333335
7/3의 몫은 = 2

In [53]:
#Exerciese 4
# Let's write an expression that calculates how many hours there are in 160 minutes:
print("hours:", 160//60)

hours: 2

In [58]:
#4칙연산을 순서에 맞게  계산
30 + 2 * 60

150

In [59]:
(30 + 2) * 60

1920

In [62]:
# variable setting
x = 43 + 60 + 16 + 41
print('x=', x)

x= 160

In [63]:
y =  x / 60
y

2.6666666666666665

In [64]:
x = x / 60
x

2.6666666666666665

In [66]:
total_min = 43 + 42 + 57 # Total length of albums in minutes
print('total_min =', total_min)

total_min = 142

In [67]:
total_hours = total_min / 60 # Total length of albums in hours 
print('total_hours=', total_hours)

total_hours= 2.3666666666666667

In [68]:
type(total_hours)

float

In [69]:
type(total_min)

int

In [70]:
total_hours = (43 + 42 + 60) / 60  
print('total_hours =', total_hours)

total_hours = 2.4166666666666665

In [71]:
total_hours = 1000/3
print('total_hours = ', total_hours)

total_hours =  333.3333333333333

In [5]:
#Exercise 5
#  What is the value of x where x = 3 + 2 * 2 ?
#  What is the value of x where x = (3 + 2) * 2 ?
print ("x=", 3+2*2)
print ("x=", (3+2)*2)

x= 7
x= 10

In [72]:
# what is the Z ?
z=x+y
print('z=', z)

z= 5.333333333333333