In [3]:
# 6th week 1st Trials Joo, Jaekil (2022271314)

def add(a):
    b= a + 1
    print(a, 'if you add one=',b)
    return(a,b)

add(1)
add(4)

1 if you add one= 2
4 if you add one= 5

(4, 5)

In [4]:
return_value = add(2)
return_value

2 if you add one= 3

(2, 3)

In [5]:
help(add) # 자세한 내용은 나오지 않지만 add의 인풋 변수를 알수 있다

Help on function add in module __main__:

add(a)

In [6]:
add(12)

12 if you add one= 13

(12, 13)

In [7]:
def Mult(a,b):
    c= a*b
    return(c)

Mult (3,4)

12

In [9]:
result_mult = Mult(3.2,4.8)
print(result_mult)
type(result_mult)

15.36

float

In [11]:
Mult(15.3, 18.2)

278.46

In [13]:
Mult(3,"Joo Jaekil ")

'Joo Jaekil Joo Jaekil Joo Jaekil '

In [23]:
def square(a):
    b=1
    c= a*a + b 
    print(a, 'if you square + 1=', c)
    return (c)

In [24]:
x=3
y=square(x)
y

3 if you square + 1= 10

10

In [16]:
print(a,b, c, x, y)

NameError: name 'a' is not defined

In [17]:
print (a)

NameError: name 'a' is not defined

In [18]:
print(b)

NameError: name 'b' is not defined

In [25]:
print(x)

3

In [20]:
print(c)

NameError: name 'c' is not defined

In [26]:
print(y)

10

In [27]:
square(3)

3 if you square + 1= 10

10

In [28]:
def MJ():
    print('Michael Jackson')
def MJ1():
    print('Michael Jackson')
    return (None)

In [29]:
MJ()

Michael Jackson

In [30]:
MJ1()

Michael Jackson

In [32]:
def con(a,b):
    return(a+b)

In [36]:
text_return = con("Tom ", "is")
print(text_return)
type(text_return)

Tom is

str

In [40]:
a1 = 4 # calculation block 1
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
print("c1=",c1)
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

c1= 48

5

In [41]:
a2 = 0  # calculation block 2
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
print('c2=',c2)
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

c2= -1

0

In [45]:
def Equation (a,b):
    c=a+b+2*a*b-1
    print('c= ',c)
    if (c<0):
        c=0
    else:
        c=5
    return(c)

In [46]:
Equation(3,2)

c=  16

5

In [47]:
Equation(0.3,2.8)

c=  3.7799999999999994

5

In [48]:
a1=4
b1=2
c1=Equation(a1, b1)
c1

c=  21

5

In [49]:
a2=0
b2=0
c2=Equation(a2,b2)
c2

c=  -1

0

In [50]:
# 이미 만들어 져 있는 함수들을 시험해 봄
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [51]:
sum(album_ratings)

70.0

In [52]:
len(album_ratings)

8

In [56]:
def type_of_album(artist, album, year_released):

    print (artist, album, year_released)
    if year_released > 1980:
        return "modern"
    else:
        return 'oldie'
    
x=type_of_album('Michael Jackson', "Thriller", 1980)
print (x)
type(x)

Michael Jackson Thriller 1980
oldie

str

In [61]:
# 반복 loop문을 이용한 함수 정의
def print_list(list):
    for element in list:
        print(element)

In [62]:
print_list(['1', 1, 'the man', "abc"])

1
1
the man
abc

In [63]:
# default value를 함수에 사용하여 기준값을 설정해주는 펑션
def isGoodRating(rating=4):
    if rating < 7:
        print("Music is sucks. its rating is = ", rating)
    else:
        print("Music is Good. its rating is = ", rating)

In [64]:
isGoodRating()

Music is sucks. its rating is =  4

In [65]:
isGoodRating(8)

Music is Good. its rating is =  8

In [66]:
isGoodRating(3)

Music is sucks. its rating is =  3

In [68]:
# Global Varialbe 전역변수 및 local variable 지역변수의 차이 알아보기
artist = "Michael Jackson"
def printer(artist):
    local_var=artist
    print (artist, "is a artist")

printer(artist, local_var)

NameError: name 'local_var' is not defined

In [69]:
# Global 이란 함수로 변수를 Global variable로 변경시켜줌
artist = "Michael Jackson" 

def printer(artist):
    global local_var # local_var를 Global varialbe로 변경시켜줌.
    local_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(local_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [73]:
myFavoriateBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavoriateBand:
        return 10
    else:
        return 0

print('AC/DC bnad rating is ', getBandRating ("AC/DC"))
print('Deep Purple band rating is ',getBandRating("Deep Purple"))
print('my favoriate band is ', myFavoriateBand)

AC/DC bnad rating is  10
Deep Purple band rating is  0
my favoriate band is  AC/DC

In [74]:


def getBandRating(bandname):
    myFavoriateBand2 = "AC/DC"
    if bandname == myFavoriateBand2:
        return 10
    else:
        return 0

print('AC/DC bnad rating is ', getBandRating ("AC/DC"))
print('Deep Purple band rating is ',getBandRating("Deep Purple"))
print('my favoriate band is ', myFavoriateBand2)

AC/DC bnad rating is  10
Deep Purple band rating is  0

NameError: name 'myFavoriateBand2' is not defined

In [75]:
# 어떤 myFavoriateBand 내용을 가져다 쓸까 ? Global variable이 무엇일까 ?

myFavoriateBand = "AC/DC"

def getBandRating(bandname):
    myFavoriateBand = "Deep Purple"
    if bandname == myFavoriateBand:
        return 10
    else:
        return 0

print('AC/DC bnad rating is ', getBandRating ("AC/DC"))
print('Deep Purple band rating is ',getBandRating("Deep Purple"))
print('my favoriate band is ', myFavoriateBand)

AC/DC bnad rating is  0
Deep Purple band rating is  10
my favoriate band is  AC/DC

In [76]:
# Quiz 6-1
# Come up with a function that divides the first input by the second input:

def divide(a,b):
    return a/b

divide(3,2)

1.5

In [ ]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

In [77]:
# Can the <code>con</code> function we defined before be used to add to integers or strings?

con(3,4)

7

In [80]:
con("Happy  " , "New year !")
# Answer : yes, it works

'Happy  New year !'

In [82]:
# Can the <code>con</code> function we defined before be used to concentrate a list or tuple?

List1 = [3, 8, 10, 1.5] 
List2 = ["rabbit", 'bit coin', '대박', '쪽박']

con(List1, List2)

[3, 8, 10, 1.5, 'rabbit', 'bit coin', '대박', '쪽박']

In [83]:
Tuple1 = (3, 8, (10, 1.5))
Tuple2 = ("rabbit", ('bit coin', '대박', '쪽박'))
con(Tuple1, Tuple2)

(3, 8, (10, 1.5), 'rabbit', ('bit coin', '대박', '쪽박'))

In [84]:
con(List1, Tuple2)

TypeError: can only concatenate list (not "tuple") to list

In [ ]:
# Answer : Con function works for List to List, Tuple to Tuple ,but not mixed List to Tuple